/*
Font: 		Manier
Style: 		Bold
URL: 		https://www.youworkforthem.com/font/T10322/manier
Foundry: 	Piotr Lapa
Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
Copyright:	Copyright © 2018 by Piotr _apa. All rights reserved.
Version: 	17
Created:	April 01, 2019
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Manier-Bold';
	src: url('manier-bold.eot');
	src: url('manier-bold.eot?#iefix') format('embedded-opentype'),
             url('manier-bold.woff2') format('woff2'),
	     url('manier-bold.woff') format('woff'),
	     url('manier-bold.ttf') format('truetype'),
	     url('manier-bold.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
