section {
  width: 100%;
}

.vh-100 {
  height: 100vh !important;
  height: calc(var(--vh, 1vh) * 100) !important;
}

.vh-75 {
  height: 75vh !important;
  height: calc(var(--vh, 1vh) * 75) !important;
}

.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: $site-grey;
}
.bg-black {
  background-color: #000;
  color: #fff;
  h2 {
    color: #fff;
  }
}
.bg-lt-grey {
  background-color: $site-lt-grey;
}
.bg-orange {
  background-color: $site-orange;
  color: #fff;
}
.bg-green {
  background-color: $site-green;
  color: #fff;
}
.bg-blue {
  background-color: $site-dk-blue;
  color: #fff;
}
.b-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.b-padding {
  padding: 240px 0;
  @include respond-to(tablet-lg) {
    padding: 120px 0;
  }
  @include respond-to(mobile-lg) {
    padding: 48px 0;
  }
}

.padding-120 {
  padding: 120px 0;
  @include respond-to(tablet-lg) {
    padding: 60px 0;
  }
  @include respond-to(mobile-lg) {
    padding: 48px 0;
  }
}
.padding-60 {
  padding: 60px 0;
  @include respond-to(tablet-lg) {
    padding: 30px 0;
  }
  @include respond-to(mobile-lg) {
    padding: 28px 0;
  }
}

.bg-white + .bg-white {
  margin-top: -120px;
  @include respond-to(tablet-lg) {
    margin-top: -60px;
  }
  @include respond-to(mobile-lg) {
    margin-top: -48px;
  }
}

.padding-top-120 {
  padding-top: 120px;
  @include respond-to(tablet-lg) {
    padding-top: 60px;
  }
  @include respond-to(mobile-lg) {
    padding-top: 48px;
  }
}
.padding-top-240 {
  padding-top: 240px;
  @include respond-to(tablet-lg) {
    padding-top: 120px;
  }
  @include respond-to(mobile-lg) {
    padding-top: 48px;
  }
}
.padding-bottom-240 {
  padding-bottom: 240px;
  @include respond-to(tablet-lg) {
    padding-bottom: 120px;
  }
  @include respond-to(mobile-lg) {
    padding-bottom: 48px;
  }
}
.padding-bottom-120 {
  padding-bottom: 120px;
  @include respond-to(tablet-lg) {
    padding-bottom: 60px;
  }
  @include respond-to(mobile-lg) {
    padding-bottom: 48px;
  }
}

.b-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.b-relative {
  position: relative;
}
.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

section.hero_block_a {
  .outter {
    height: 100%;
    position: relative;
  }
  .flex-box-2 {
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 100%;
    text-align: right;
    img {
      width: 100%;
      transform: translateX(-25px);
      @include respond-to(tablet-lg) {
        transform: translateX(0);
        margin: 0;
        width: 70%;
      }
      @include respond-to(mobile-lg) {
        transform: translateX(-30px);
        margin: 0;
        width: 90%;
      }
    }
  }
  .svg {
    position: absolute;
    bottom: 73px;
    left: 0;
    @include respond-to(mobile-lg) {
      bottom: 40px;
      left: -50px;
    }
  }
}
section.hero_block_b {
  &.bg-black {
    .content {
      h1 {
        color: #fff;
      }
      h2 {
        font-family: "Northbourne Village Inline 2";
        color: $site-grey;
      }
    }
    .svg {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      right: 0;
    }
  }
  &.bg-white {
    .content {
      h2 {
        font-family: "Northbourne Village Inline 3";
        color: $site-grey;
      }
    }
  }
  &.bg-lt-grey {
    .svg {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      right: 0;
    }
  }
  .lg-outter {
    height: 100%;
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 60px;
      line-height: 1;
      color: #000;
      font-weight: bold;
      font-family: "Northbourne Village";
      margin-bottom: 20px;
    }
    h2 {
      font-size: 60px;
      line-height: 1;
      color: #fff;
      font-family: "Northbourne Village Inline 1";
      max-width: 700px;
      text-align: center;
      @include respond-to(mobile-lg) {
        font-size: 35px;
      }
    }
  }
  .svg {
    position: absolute;
    bottom: 73px;
    left: 0;
    @include respond-to(mobile-lg) {
      bottom: 0px;
      left: -50px;
    }
  }
}

section.introduction_block {
  .l-box {
    font-size: 18px;
    @include respond-to(tablet-lg) {
      text-align: left;
    }
    @include respond-to(mobile-lg) {
      padding-left: 24px;
    }
  }
  .r-box {
    &,
    p {
      font-size: 40px;
      max-width: calc(760 / 890 * 100%);
      line-height: 1.2;
      letter-spacing: 1px;
      @include respond-to(tablet-lg) {
        max-width: 100%;
      }
      @include respond-to(mobile-lg) {
        max-width: 100%;
        padding: 0 20px;
        font-size: 30px;
      }
    }
  }
}

section.gallery_block {
  position: relative;
  .outter {
    @include respond-to(mobile-lg) {
      max-width: calc(100% - 24px);
      margin: 0 auto;
    }
  }
  .swiper-container {
    overflow: inherit;
  }
  .swiper-pagination-bullet {
    width: 0;
    height: 0;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 96px;
    @include respond-to(mobile-lg) {
      bottom: 10px;
      top: auto;
      left: 0;
      width: 100%;
    }
  }
  .swiper-slide-active {
    .image-caption {
      opacity: 1;
    }
  }

  .swiper-pagination {
    top: 0;
    left: auto;
    right: -40px;
    width: 1rem;
  }
  .swiper-pagination .swiper-pagination-bullet {
    display: block;
    margin: 0 auto;
    width: 0.8rem;
    height: 0.8rem;
    opacity: 1;
    background: none;
    border: 1px solid #000;
    margin-bottom: 6px;
    @include respond-to(mobile-lg) {
      display: inline-block;
      margin: 0 10px;
    }
  }
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #000;
    border-color: #000;
  }
  .image-title {
    opacity: 0;
    position: absolute;
    top: 0;
    left: -40px;
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 1rem;
    letter-spacing: 1px;
    transform: translate(-50%, -50%) rotateZ(90deg) translateY(-50%)
      translateX(50%) translateX(0rem);
  }
  .image-caption {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: -5rem;
    display: flex;
    align-items: center;
    font-size: 13px;
    height: 6rem;
    transform: translate(-50%, -50%) rotateZ(90deg) translateY(-50%)
      translateX(50%) translateX(0rem);
  }
  .swiper-slide.swiper-slide-active {
    .image-title,
    .image-caption {
      opacity: 1;
    }
  }
  // .swiper-button-prev {
  //   background-image: url("../artwork/arrow-r.svg") !important;
  //   left: -125.354px;
  //   width: 42.354px;
  //   height: 26.414px;
  //   background-size: 42.354px 26.414px;
  // }

  // .swiper-button-next {
  //   background-image: url("../artwork/arrow-l.svg") !important;
  //   right: -125.354px;
  //   width: 42.354px;
  //   height: 26.414px;
  //   background-size: 42.354px 26.414px;
  // }
}

section.map_block {
  .acf-map {
    margin-bottom: 70px;
  }
  .group-title {
    color: $site-orange;
    font-size: 12px;
    border-bottom: 1px solid rgb(89, 89, 89);
    padding: 5px 0 5px 60px;
    font-weight: 700;
    margin-top: 20px;
  }
  .marker-box {
    display: flex;
    border-bottom: 1px solid rgb(89, 89, 89);
    padding: 5px 0;
    font-size: 12px;
    .marker-num {
      margin: 0 20px;
      width: 20px;
    }
  }
}

section.content_text_block {
  .lg-outter {
  }
  .flex-box-eq-2 {
    margin: 0 -10px;
  }
}

section.text_block {
  max-width: 800px;
  margin: 0 auto;
  h1,
  h2,
  h3,
  h4 {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 1.2;
    @include respond-to(mobile-lg) {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  h2.h1 {
    font-family: "Northbourne Village Inline 1";
  }
  h2 {
    font-family: "Northbourne Village Inline 2";
  }
  h3 {
    font-family: "Northbourne Village Inline 3";
  }
  h4 {
    margin: 50px 0;
    @include respond-to(mobile-lg) {
      margin: 30px 0;
    }
  }
  h6 {
    margin: 50px 0;
    color: $site-orange;
    font-family: source-serif-pro, serif;
    font-weight: 300;
    @include respond-to(mobile-lg) {
      margin: 30px 0;
    }
  }
  p {
    text-align: center;
    max-width: 582px;
    margin-right: auto;
    margin-left: auto;
  }
  .box {
    text-align: center;
  }
  .header {
    font-size: 18px;
  }
}

section.form_block {
  padding: 110px 0 70px 0;
  @include respond-to(mobile-lg) {
    padding: 48px 0;
  }
  h2 {
    font-family: "Northbourne Village Inline 2";
    line-height: 1;
    br {
      display: block;
    }
  }
  .wpcf7 {
    @include respond-to(mobile-lg) {
      width: calc(100% - 76px);
      margin: 0 auto;
    }
  }
  .flex-box-1 {
    @include respond-to(mobile-lg) {
    }
  }
  .flex-box-3,
  .flex-box-eq-2 {
    margin: 0 -18px;
    display: flex;
    & > div {
      padding: 0 18px;
    }
  }
  .flex-box-3 {
    @include respond-to(tablet-lg) {
      flex-direction: column;
    }
    & > div {
      width: calc(100% / 3);
      @include respond-to(tablet-lg) {
        width: 100%;
      }
    }
  }
  .row.flex-box-eq-2 > div:nth-child(2) {
    @include respond-to(tablet-lg) {
      margin-top: 0;
    }
  }
  br {
    height: 0;
    line-height: 0;
    display: none;
  }
  .flex-box-1 {
    margin: 0 -18px;
    display: flex;
    & > div {
      padding: 0 18px;
      width: 100%;
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -18px;
    margin-left: -18px;
  }
  .btn {
    border: 0;
    border-radius: 0;
    font-size: rem(13);
    //letter-spacing: 0.01em;
    //padding: rem(14) rem(18);
    box-shadow: none !important;
    transition: all 0.3s ease-out;
    background: #000;
    color: #fff;
    border-bottom: 5px solid #fff;

    &.btn-full {
      display: block;
      width: 100%;
      padding: rem(16);
    }

    &.btn-mt-sm {
      margin-top: 1rem;
    }

    &.btn-mt {
      margin-top: 3rem;

      @include respond-to(tablet-lg) {
        margin-top: 2.5rem;
      }

      @include respond-to(mobile-lg) {
        margin-top: 2rem;
      }
    }

    &.btn-primary {
      &:focus,
      &:hover {
        background: transparent;
      }
    }

    &.btn-outline {
      color: #000;
      border: 1px dotted rgba(#fff, 0.8);

      &:hover,
      &:focus {
        background: #000;
        color: white;
      }
    }

    &.btn-primary-outline {
      color: #fff;
      border: 1px dotted rgba(#000, 0.8);

      &:hover,
      &:focus {
        background: #000;
        color: white;
      }
    }

    &.btn-white-outline {
      color: white;
      border: 1px dotted rgba(white, 0.8);

      &:hover,
      &:focus {
        background: white;
        color: #000;
      }
    }
  }

  .form-control {
    width: 100%;
    height: auto;
    border: 0;
    background: none;
    color: $site-grey;
    box-shadow: none !important;
    border-bottom: 1px solid $site-dk-grey;
    font-size: rem(16);
    padding: rem(12) 0 rem(20);
    color: #fff;
    transition: all 0.3s ease-out;
    outline: 0;
    &:focus {
      background: none;
      border-color: #fff;
    }
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  textarea.form-control {
    background: transparent;
    border: 1px solid $site-dk-grey;
    height: rem(120);
    padding: rem(32) rem(12) rem(12);
    width: 100%;
    -webkit-appearance: none;
    font-family: neue-haas-grotesk-text, sans-serif;
    &:focus {
      background: #000;
    }
    &:hover {
      border: 1px solid #fff;
    }
  }

  .form-group {
    position: relative;
    margin-bottom: rem(28);

    label {
      position: absolute;
      left: rem(12);
      top: 50%;
      transform: translateY(-50%);
      font-size: rem(14);
      line-height: 1;
      margin: 0;
      color: #fff;
      z-index: 10;
      transition: all 0.3s ease-out;
      touch-action: manipulation;
      display: inline-block;
      cursor: pointer;
    }

    &.focused label {
      color: #fff !important;
    }

    &.non-empty label {
      color: $site-grey;
      top: 0;
      left: 0;
      transform: none;
      font-size: rem(11);
    }

    &.form-group-margin-extra {
      margin-bottom: rem(36);
    }

    &.textarea-group {
      label {
        left: rem(30) !important;
        top: rem(14) !important;
        transform: none !important;
        font-size: rem(14) !important;
      }
    }

    &.select-group {
      margin-top: rem(4);

      label {
        pointer-events: none;
      }

      &.non-empty label {
        top: rem(-18);
      }
    }

    &.form-group-releases {
      display: block !important;
      input {
        display: none;
      }
      label {
        position: static;
        transform: none !important;
        padding-left: 0;
        font-size: rem(14) !important;
        color: #fff !important;
      }
      .sr-only {
        display: none;
      }
    }
  }
  .flex-box-3 .form-group label {
    left: 0;
  }
  a.swl-checkbox {
    position: relative;
    display: inline-block;
    width: rem(30);
    height: rem(30);
    border: 1px solid $site-dk-grey;
    background: #000;
    border-radius: 50%;
    box-sizing: border-box;
    vertical-align: middle;
    transition: all 0.3s ease-out;

    &:hover,
    &:focus {
      border-color: #fff;
    }

    &:before {
      content: "\f3fd";
      font-family: "Ionicons";
      font-weight: normal !important;
      font-style: normal !important;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.25s ease-out;
      font-size: 1.7333333333rem;
    }

    &.checked {
      border-width: 1px;
      border-color: #fff;
      background: white;

      &:before {
        opacity: 1;
      }
    }
  }

  a.swl-select {
    height: rem(50);
    line-height: rem(50);
    position: relative;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;
    vertical-align: middle;
    user-select: none;
    outline: none;

    &:after {
      content: "\f123";
      font-family: "Ionicons";
      position: absolute;
      // color: $sky-medium;
      right: rem(13);
      top: 50%;
      transform: translateY(-50%);
      font-size: rem(18);
      color: $site-dk-grey;
    }
    ul {
      position: absolute;
      width: inherit;
      line-height: inherit;
      border: 1px solid $site-dk-grey;
      border-radius: 2px;
      background-color: #000;
      box-sizing: border-box;
      z-index: 15;
      @include respond-to(mobile-lg) {
        height: 100%;
      }
    }
    ul.swl-select-items {
      border-radius: 0;
      margin: 0;
      background: none;
      transition: all 0.3s ease-out;

      li {
        position: relative;
        box-sizing: border-box;
        font-size: rem(18);
        line-height: rem(48);
        padding: 0 rem(42) 0 rem(12);
        &.selected {
          display: block;
        }
        &:first-child {
          text-align: right;
          font-size: 0;
          // color: $sky-medium;
          height: rem(50);

          &:before {
            content: "Select One";
            font-size: rem(14);
            color: $site-dk-grey;

            @include respond-to(mobile-lg) {
              display: none;
            }
          }
        }
        &.unselected {
          display: none;
        }
      }
    }

    &:hover,
    &:focus {
      opacity: 1;
      ul.swl-select-items {
        border-color: #fff;
      }
    }

    &.open {
      z-index: 1000;
      ul.swl-select-items {
        @include respond-to(mobile-lg) {
          height: auto;
        }
        li {
          background: #000;
          color: #fff;

          &:hover {
            color: black;
            background: #fff;
          }

          &:first-child {
            display: none;
          }
          &.unselected {
            display: block;
          }
        }
      }
    }
  }
  .swl-releases {
    justify-content: flex-start;
    @include respond-to(tablet-lg) {
      flex-direction: row;
    }
    .l-box,
    .r-box {
      max-width: 320px;
      @include respond-to(tablet-lg) {
        width: 50%;
        margin-top: 0;
      }
    }
  }
  .swl-release {
    position: relative;
    display: block;
    height: rem(120);
    border: 1px solid $site-dk-grey;
    flex: 1;
    cursor: pointer;
    max-width: 3200px;
    @include respond-to(mobile-lg) {
      height: rem(90);
    }

    &:hover,
    &:focus {
      opacity: 1;
      background: $site-dk-grey;
      border-color: $site-dk-grey;
    }

    + .swl-release {
      margin-left: 36px;

      @include respond-to(mobile-lg) {
        margin-left: rem(20);
      }

      @include respond-to(mobile-lg) {
        margin-top: rem(20);
        margin-left: 0;
      }
    }

    .swl-release-logo {
      display: block;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 56.66%;
      height: 66.66%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      opacity: 0;
      transition: all 0.3s ease-out;

      &.swl-release-logo-black {
        opacity: 1;
      }
    }

    &.checked {
      background: $site-dk-grey;
      border-color: $site-dk-grey !important;

      .swl-release-logo-black {
        opacity: 0;
      }

      .swl-release-logo-white {
        opacity: 1;
      }
    }
  }

  .wpcf7 {
    .wpcf7-form-control-wrap {
      position: static;

      &.terms {
        label {
          margin: 0;
        }

        .wpcf7-list-item {
          margin: 0;
        }

        .wpcf7-list-item-label {
          display: inline-block;
          vertical-align: middle;
          margin-left: rem(8);

          a {
            color: $site-grey;
            text-decoration: underline;
          }
        }
      }
    }

    div.wpcf7-response-output {
      margin: 2rem 0 0;
      padding: 1rem 1.5rem;
      background: rgba($site-grey, 0.1);
      text-align: center;
      border: 0;
    }

    .wpcf7-not-valid-tip {
      position: absolute;
      color: #000;
      top: 55%;
      right: rem(12);
      transform: translateY(-50%);
      font-size: rem(11);
      transition: all 0.3s ease-out;
    }

    .non-empty .wpcf7-not-valid-tip {
      opacity: 0;
    }

    input[type="submit"] {
      margin-top: 2rem;

      &:hover,
      &:focus {
        + .ajax-loader {
          background: $site-orange !important;
        }
      }
    }

    // input.hidden {
    //   @extend .sr-only;
    // }

    .ajax-loader {
      transform: translateY(50px);
    }
    // .ajax-loader {
    //   @include center();
    //   border-radius: 100%;
    //   z-index: 15;
    //   color: white;
    //   height: rem(40) !important;
    //   width: rem(120) !important;
    //   margin: 0 !important;
    //   background: $primary !important;
    //   @include transition-all;

    //   &:before {
    //     content: "\f29c";
    //     @include ion-icons();
    //     @include center();
    //     animation: spin 1s linear 0s infinite;
    //   }
    // }

    // @include respond-to(tablet-lg) {
    //   .wpcf7-form-control-wrap.terms {
    //     display: block;
    //     margin-bottom: 2rem;
    //   }
    // }
  }
  .terms {
  }
  .submit {
    text-align: right;
    @include respond-to(mobile-lg) {
      text-align: left;
      margin-top: 20px !important;
    }
    .btn {
      margin-right: -72px;
    }
  }
}

section.content_slider_block.content_slider_block_a,
section.content_slider_block.content_slider_block_b {
  .nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    .carousel-nav {
      .swiper-pagination {
        display: flex;
        position: inherit;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        justify-content: space-around;
        li.swiper-pagination-bullet {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 140px;
          height: 97px;
          border-radius: 0;
          background: transparent;
          position: relative;
          color: #fff;
          opacity: 1;
          font-size: 13px;
          svg {
            width: 138px;
            height: 95px;
            position: absolute;
            top: 0;
            left: 0;
            path {
              stroke-dashoffset: 500;
              stroke-dasharray: 500;
            }
          }
        }
        li.swiper-pagination-bullet-active {
          opacity: 1;
          background-color: transparent;
          color: #000;
          svg {
            width: 138px;
            height: 95px;
            position: absolute;
            top: 0;
            left: 0;
            @include respond-to(mobile-lg) {
              width: 110px;
              height: 95px;
            }
            path {
              animation: ani-active-animate 0.5s ease-out forwards;
            }
          }
          // &:after {
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   content: "";
          //   background-image: url(../artwork/active.svg);
          //   background-repeat: no-repeat;
          //   background-position: center;
          //   width: 100%;
          //   height: 100%;
          // }
        }
      }
    }
  }
}

@keyframes ani-active-animate {
  to {
    stroke-dashoffset: 0;
  }
}
section.content_slider_block_a {
  @include respond-to(mobile-lg) {
    padding-top: 40px !important;
  }
  .swiper-carousel {
    @include respond-to(laptop) {
      padding-top: 150px;
    }
    @include respond-to(mobile-lg) {
      padding-top: 120px;
    }
  }
}
section.content_slider_block_a,
section.floorplan_block {
  padding-top: 140px;
  @include respond-to(tablet-lg) {
    padding-top: 90px;
  }
  @include respond-to(mobile-lg) {
    padding-top: 48px;
  }
  .item-box {
    height: 70vh;
    @include respond-to(hd) {
      height: 60vh;
    }
    @include respond-to(laptop) {
      height: 60vh;
    }
    @include respond-to(tablet-lg) {
      height: 90vh;
    }
    @include respond-to(tablet-sm) {
      height: auto;
    }
    .item {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .item-header {
      font-size: 40px;
      max-width: 530px;
      line-height: 1;
      margin: 0 auto;
      @include respond-to(mobile-lg) {
        font-size: 30px;
      }
    }
    .content {
      font-size: 16px;
      max-width: 376px;
      margin: 60px auto;
      @include respond-to(mobile-lg) {
        max-width: calc(100% - 40px);
        margin: 30px auto;
      }
    }
    .link a {
      font-size: 13px;
      padding-bottom: 9px;
      letter-spacing: 1px;
      border-bottom: 5px solid #000;
    }
    .r-box {
      background: $site-grey;
      .item {
        img {
          max-height: 60%;
        }
      }
    }
  }
}
section.content_slider_block_b {
  .nav {
    top: 40% !important;
    @include respond-to(tablet-lg) {
      top: 65% !important;
    }
    @include respond-to(mobile-lg) {
      top: 50% !important;
    }
  }

  .item-box {
    .item {
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .r-box {
      background: $site-grey;
      @include respond-to(tablet-lg) {
        padding-top: 15vh;
        margin-top: 0;
      }
      .item {
        padding: 100px 0;
        max-width: 450px;
        margin: 0 auto;
        @include respond-to(mobile-lg) {
          padding: 30px 20px;
        }
        h6 {
          @include respond-to(tablet-lg) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
.grecaptcha-badge {
  display: none;
}

section.release_list_block {
  .introduction {
    text-align: center;
    margin-bottom: 100px;
    @include respond-to(mobile-lg) {
      margin-bottom: 30px;
    }
    h4 {
      font-family: "Northbourne Village Inline 2";
      margin-bottom: 36px;
    }
    p {
      margin: 0 auto;
      margin-bottom: 36px;
      max-width: 600px;
      a {
        text-decoration: none;
      }
    }
  }
  .projects {
    .project-box {
      height: 70vh;
      overflow: hidden;
      position: relative;
      margin-bottom: 100px;
      @include respond-to(tablet-lg) {
        height: auto;
        margin-bottom: 30px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      div.link {
        font-size: 13px;
        padding-bottom: 9px;
        border-bottom: 5px solid #000;
        font-family: "Northbourne Village";
        display: inline-block;
        letter-spacing: 1px;
      }
      .flex-box {
        height: 70vh;
        overflow: hidden;
        position: relative;
        @include respond-to(tablet-lg) {
          height: auto;
          display: flex;
          flex-direction: column;
        }
        .l-box {
          padding: 120px 110px;
          width: 50%;
          position: absolute;
          height: 100%;
          transition: all 0.8s ease-in-out;
          background: #f6f5f4;
          z-index: 5;
          display: flex;
          flex-direction: column;
          @include respond-to(2k) {
            padding: 120px 110px;
          }
          @include respond-to(hd) {
            padding: 100px 100px;
          }
          @include respond-to(laptop) {
            padding: 60px 50px;
          }
          @include respond-to(tablet-lg) {
            width: 100%;
            order: 2;
            position: relative;
            padding: 30px 25px;
          }
          .header {
            margin-bottom: 50px;
            letter-spacing: 1px;
          }
          .content {
            margin-top: auto;
            max-width: 350px;
            transition: all 0.8s ease-in-out;
            @include respond-to(tablet-lg) {
              margin-top: 50px;
            }
            p {
              margin: 0;
            }
          }
          .link {
            opacity: 0;
            position: absolute;
            bottom: 120px;
            left: 110px;
            transition: all 0.8s ease-in-out;
            @include respond-to(2k) {
              bottom: 120px;
              left: 110px;
            }
            @include respond-to(hd) {
              bottom: 100px;
              left: 100px;
            }
            @include respond-to(laptop) {
              bottom: 60px;
              left: 50px;
            }
            @include respond-to(tablet-lg) {
              position: relative;
              margin-top: 50px;
              opacity: 1;
              left: 0;
              bottom: 0;
              width: 83px;
            }
          }
        }
        .r-box {
          position: absolute;
          height: 100%;
          right: 0;
          width: 80%;
          transition: all 0.8s ease-in-out;
          background-position: 0 center;
          background-repeat: no-repeat;
          background-size: cover;
          @include respond-to(tablet-lg) {
            width: 100%;
            order: 1;
            position: relative;
            height: 50vh;
          }
        }
        .logo-image {
          position: absolute;
          left: calc(70% - 90px);
          top: calc(50% - 90px);
          opacity: 0;
          transition: all 0.8s ease-in-out;
        }
      }
      &.stage-3 {
        height: auto;
        a {
          .no-image-box {
            text-align: center;
            .header {
              margin-bottom: 50px;
            }
            h3 {
              color: $site-green;
              font-size: 48px;
              font-family: "Northbourne Village Inline 2";
            }
            .content {
              max-width: 500px;
              margin: 50px auto;
            }
          }
        }
      }
    }
    .project-box a:hover {
      .flex-box {
        .l-box {
          width: 40%;
          background: $site-yellow;
          @include respond-to(tablet-lg) {
            width: 100%;
            background: #f6f5f4;
          }
          .content {
            margin-bottom: 10vh;
            @include respond-to(tablet-lg) {
              margin-bottom: 0;
            }
          }
          .link {
            opacity: 1;
          }
        }
        .r-box {
          width: 60%;
          @include respond-to(tablet-lg) {
            width: 100%;
          }
        }
      }
      .logo-image {
        opacity: 1;
        @include respond-to(tablet-lg) {
          opacity: 0;
        }
      }
    }
    .project-box.stage-2 {
      a:hover {
        .flex-box {
          .l-box {
            background: $site-orange;
            @include respond-to(tablet-lg) {
              width: 100%;
              background: #f6f5f4;
            }
          }
        }
      }
    }
  }
}

section.svg_animation_block {
  .svg {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

// release block
section.hero_block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #fff;
  .outter {
    position: relative;
    z-index: 1;
    height: 100%;
    .intro {
      position: absolute;
      bottom: 120px;
      @include respond-to(mobile-lg) {
        bottom: 20px;
        padding: 0 20px;
      }
      h5 {
        margin-bottom: 66px;
      }
      h1 {
        font-size: 87px;
        font-family: "Northbourne Village Inline 2";
        color: #fff;
        line-height: 1;
      }
      p {
        margin-top: 66px;
      }
      img {
        max-width: 100%;
        @include respond-to(tablet-lg) {
          max-width: 50%;
        }
        @include respond-to(mobile-lg) {
          max-width: 100%;
        }
      }
    }
  }
}
section.anchor-menu {
  @include respond-to(tablet-lg) {
    display: none;
  }
  .flex-box-2 {
    align-items: center;
    .r-box {
      display: flex;
      justify-content: space-between;
      .logo {
        @include respond-to(tablet-lg) {
          display: none;
        }
      }
    }
    h3 {
      font-size: 40px;
      font-family: "Northbourne Village";
      font-weight: normal;
      a {
        color: #000 !important;
      }
    }
    ul {
      display: flex;
      margin: 0 -12px;
      li {
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        a.menu {
          color: #000;
        }
      }
    }
    div.menu {
      display: flex;
      ul.block-anchor {
        margin-right: 60px;
      }
    }
  }
}

section.image_content_block {
  &.image-text {
    .flex-box-eq-2 {
      .l-box {
        order: 2;
      }
      .r-box {
        order: 1;
      }
    }
  }
  .flex-box-eq-2 {
    .l-box {
      .box {
        padding: 100px 90px;
        position: relative;
        height: 100%;
        @include respond-to(mobile-lg) {
          padding: 48px 20px 28px 20px;
        }
        .header {
          margin-bottom: 45px;
          font-family: source-serif-pro, serif;
          @include respond-to(mobile-lg) {
            margin-bottom: 30px;
          }
        }
        .text {
          position: absolute;
          left: 90px;
          bottom: 100px;
          max-width: 480px;
          @include respond-to(tablet-lg) {
            position: relative;
            left: 0;
            bottom: 20px;
            margin-top: 50px;
          }
        }
      }
    }
    .r-box {
      background-color: #f7f9f5;
      text-align: center;
      @include respond-to(tablet-lg) {
        margin-top: 0;
      }
      img {
        @include respond-to(tablet-lg) {
          width: 100%;
        }
      }
    }
  }
}

section.complex_content_block {
  &.ani-go .post-image .bg-load {
    transform: translate3d(0, 0, 0) !important;
    opacity: 1 !important;
  }
  .content {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 100px;
    @include respond-to(mobile-lg) {
      margin-bottom: 30px;
    }
    h2,
    h3,
    h4 {
      margin-bottom: 50px;
      text-align: center;
      font-size: 40px;
      line-height: 1.2;
      @include respond-to(mobile-lg) {
        margin-bottom: 30px;
        font-size: 30px;
      }
    }

    h2.h1 {
      font-family: "Northbourne Village Inline 1";
    }
    h2 {
      font-family: "Northbourne Village Inline 2";
    }
    h3 {
      font-family: "Northbourne Village Inline 3";
    }
  }
  .image-box {
    max-width: 1018px;
    margin: 0 auto;
    position: relative;
    @include respond-to(mobile-lg) {
      max-width: calc(100% - 12px);
    }
    .image-caption {
      position: absolute;
      bottom: 0;
      left: -4.7rem;
      display: flex;
      align-items: center;
      font-size: 13px;
      height: 6rem;
      transform: translate(-50%, -50%) rotateZ(90deg) translateY(-50%)
        translateX(50%) translateX(0rem);
      @include respond-to(mobile-lg) {
        left: -3.7rem;
      }
    }
    .post-image {
      overflow: initial;
      margin-bottom: 25px;
      @include respond-to(mobile-lg) {
        margin-bottom: 12px;
      }
      .bg-load {
        opacity: 0;
        transition: transform 1s ease-out;
        transform: translate3d(25px, 25px, 0);
        transition-delay: 3s;
        @include respond-to(mobile-lg) {
          transform: translate3d(12px, 12px, 0);
        }
      }
      &:after {
        width: 100%;
        height: 100%;
        position: absolute;
        content: "";
        left: 25px;
        top: 25px;
        background-color: $site-grey;
        z-index: 1;
        @include respond-to(mobile-lg) {
          left: 12px;
          top: 12px;
        }
      }
    }
  }
}

section.video_block {
  overflow: hidden;
  .post-image {
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#696d74, 0.5);
      z-index: 3;
    }
    &:hover {
      cursor: pointer;
      .btn:after {
        transform: scale(1.2);
      }
    }
    .btn {
      position: absolute;
      width: 67px;
      height: 67px;
      color: $site-orange;
      border: 0;
      z-index: 3;
      left: calc(50% - 33.5px);
      top: calc(50% - 33.5px);
      &:before {
        content: "\f488";
        font-family: "Ionicons";
        font-weight: normal !important;
        font-style: normal !important;
        display: block;
        position: absolute;
        top: 52%;
        left: 55%;
        transform: translate(-50%, -50%);
        transition: all 0.25s ease-out;
        font-size: 2rem;
        z-index: 4;
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        background: #fff;
        transition: transform 0.3s ease-out;
      }
    }
  }
}

section.floorplan_block {
  .swiper-carousel {
    padding: 60px;
    background-color: $site-lt-grey2;
    @include respond-to(mobile-lg) {
      padding: 48px 20px;
    }
  }
  .flex-box-eq-2.item-box {
    .l-box {
      border-right: 1px solid $site-lt-grey;
      @include respond-to(tablet-lg) {
        border: 0;
      }
    }
  }
  .outter {
    @include respond-to(mobile-lg) {
      max-width: calc(100% - 24px);
    }
  }
  .nav {
    z-index: 1;
    .carousel-nav {
      a.swl-select {
        height: 3.33333rem;
        line-height: 3.33333rem;
        position: relative;
        display: inline-block;
        width: 100%;
        user-select: none;
        outline: 0;

        &:before {
          content: "\f123";
          font-family: Ionicons;
          display: block;
          position: absolute;
          top: 38%;
          right: 0;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          font-size: 1.1333333333rem;
          font-weight: normal;
        }
        &:hover {
          opacity: 1;
        }
        &.open {
          .swiper-pagination {
            position: absolute;
            z-index: 1000;
            background: $site-lt-grey2;
            border: 0;
            border: 1px solid #000;
            li.swiper-pagination-bullet {
              display: block;
              background: transparent;
              border-radius: 0;
              &:hover {
                background: $site-dk-grey;
                color: #fff;
              }
            }
          }
        }
      }
      .swiper-pagination {
        border-radius: 0;
        margin: 0;
        transition: all 0.3s ease-out;
        width: 100%;
        background-color: transparent;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        z-index: 15;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $site-dk-grey;
        li.swiper-pagination-bullet {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          font-size: 1.2rem;
          background: none;
          width: 100%;
          height: auto;
          color: $site-dk-grey;
          padding: 10px 0 10px 10px;
          font-size: 13px;
          display: none;
          text-align: left;
          opacity: 1;
          svg {
            display: none;
          }
        }
        li.swiper-pagination-bullet-active {
          color: #000;
          display: block;
        }
      }
    }
  }

  .item-box {
    height: 70vh;
    max-height: 70vh;
    width: 80%;
    margin: 0 auto;
    @include respond-to(tablet-lg) {
      width: 100%;
      height: 100%;
      max-height: inherit;
    }
    .item {
      height: 100%;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }
    .item-content {
      max-width: 80%;
      position: relative;
      width: 100%;
      @include respond-to(tablet-lg) {
        max-width: 100%;
      }
      .header {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 50px;
        @include respond-to(tablet-lg) {
          margin-bottom: 30px;
        }
      }
      .details {
        margin-top: 50px;
        display: flex;
        @include respond-to(mobile-lg) {
          margin-top: 30px;
        }
        & > div {
          width: calc(100% / 3);
          display: flex;
          flex-direction: column;
          font-size: 40px;
          color: $site-orange;
          span {
            font-size: 16px;
            color: #000;
            padding-bottom: 22px;
          }
        }
      }
    }
    .item-header {
      font-size: 40px;
      max-width: 530px;

      margin: 0 auto;
      @include respond-to(mobile-lg) {
        font-size: 30px;
      }
    }
    .content {
      font-size: 16px;
      max-width: 100%;
      margin: 60px auto;
      @include respond-to(tablet-lg) {
        margin: 30px auto;
      }
    }
    .link a {
      font-size: 13px;
      padding-bottom: 9px;
      border-bottom: 5px solid #000;
      letter-spacing: 1px;
    }
    .r-box {
      background: $site-lt-grey2;
      @include respond-to(tablet-lg) {
        margin-top: 48px;
      }
      .item {
        align-items: center;
        justify-content: center;
        transform: translateX(6vw);
        @include respond-to(tablet-lg) {
          transform: translateX(0);
        }
        img {
          max-height: 60%;
        }
      }
    }
  }
}

section.map_filter_block {
  #pois {
    display: none;
  }

  #poi-map {
    position: relative;
    padding-left: rem(40);

    @include respond-to(tablet-lg) {
      padding-left: rem(40);
    }

    @include respond-to(mobile-lg) {
      padding-left: 0;
    }

    #front-location & {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      bottom: 0;
      padding-left: 0;

      @include respond-to(tablet-lg) {
        position: relative;
        width: 100%;
        height: rem(500);
      }

      @include respond-to(mobile-lg) {
        height: rem(420);
      }
    }
  }

  #poi-gmap {
    height: rem(750);

    #front-location & {
      height: 100%;
    }

    @include respond-to(tablet-lg) {
      height: rem(650);
    }

    @include respond-to(mobile-lg) {
      height: rem(450);
    }
  }

  #poi-filter {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 500;
    transform: translate(-50%, -50%) rotateZ(90deg) translateY(0%);
    height: rem(180);
    display: flex;
    align-items: center;

    @include respond-to(tablet-lg) {
      height: rem(120);
    }

    @include respond-to(mobile-lg) {
      position: relative;
      top: 0;
      transform: none;
      display: block;
      height: auto;
      padding-bottom: rem(32);
    }

    #front-location & {
      display: none;
    }

    a.swl-select {
      display: none;
      height: rem(32);
      line-height: rem(32);
      width: 240px;
      margin: 0 auto;

      @include respond-to(mobile-lg) {
        display: block;
        opacity: 1;
        position: relative;
      }

      &:after {
        color: $site-dk-grey;
        right: rem(4);
        @include respond-to(mobile-lg) {
          content: "\f123";
          font-family: "Ionicons";
          font-weight: normal !important;
          font-style: normal !important;
          position: absolute;
          color: #000;
          top: 53%;
          transform: translateY(-50%);
          font-size: 0.9333333333rem;
        }
      }

      ul.swl-select-items {
        border: 0;
        border-bottom: 2px solid $site-dk-grey;
        @include respond-to(mobile-lg) {
          border-radius: 0;
          margin: 0;
          background: none;
          border-color: $site-grey;
          transition: all 0.25s ease-out;
          position: absolute;
          width: inherit;
          line-height: inherit;
          border-radius: 2px;
          box-sizing: border-box;
          z-index: 5;
        }

        li {
          font-size: rem(14);
          line-height: rem(30);
          padding: 0;

          &:first-child {
            color: $site-dk-grey;
            font-size: rem(14);
            text-align: left;
            height: auto;

            &:before {
              display: none;
            }
          }
          &.unselected {
            display: none;
          }
        }
      }

      &.open ul.swl-select-items {
        border-color: transparent;

        &:before {
          content: "";
          position: absolute;
          background: white;
          left: -20px;
          right: -20px;
          top: -20px;
          bottom: -20px;
          box-shadow: 0 0 rem(8) rgba($site-dk-grey, 0.4);
        }

        li {
          background: white;
          color: $site-dk-grey;

          &:first-child {
            display: block;
            position: relative;
          }
          &.unselected,
          &.selected {
            display: block;
            position: relative;
          }
          &.selected {
            color: $site-grey;
          }
        }
      }
    }

    ul.ul-filter {
      margin: 0;

      li {
        display: inline-block;

        + li {
          margin-left: rem(16);
        }
      }

      a {
        display: block;
        //border-bottom: 2px solid;
        padding: rem(5) 0;
        font-size: 13px;
        color: #000;
        cursor: pointer;
        //@include semi-bold-font;

        &:hover,
        &:focus {
          color: $site-orange;
        }

        &:active {
          color: white;
        }

        &.active {
          color: $site-orange !important;
        }
      }

      @include respond-to(mobile-lg) {
        display: none;
      }
    }
  }
}
