body.custompage-contact {
  section.header_block {
    padding-bottom: 0;
    border: 0;
  }
  section.content_text_block {
    &.b-padding {
      padding: 120px 0;
      @include respond-to(mobile-lg) {
        padding: 100px 0 48px 0;
      }
    }
    .md-outter {
      p {
        color: $site-grey;
      }
    }
  }
}

body.home {
  section.introduction_block {
    .l-box {
      font-weight: bold;
      font-size: 40px;
      @include respond-to(mobile-lg) {
        text-align: left;
      }
    }
    .r-box {
      &,
      p {
        font-family: "Northbourne Village Inline 3";
        em {
          font-family: "Northbourne Village Inline 2";
          font-style: normal;
        }
        strong {
          font-family: "Northbourne Village";
        }
      }
    }
  }
  section.gallery_block {
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 25px;
      background-color: $site-grey;
      height: 50%;
      width: calc(100% - 50px);
    }
  }
}

body.custompage-releases {
  section.release_list_block {
    margin-top: 10vh;
  }
}

body.custompage-location {
  section.complex_content_block {
    background-color: $site-lt-grey;

    &:after {
      position: absolute;
      content: "";
      background-color: #fff;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 35vh;
    }
  }
}
body.custompage-contact {
  section.image_content_block.image-text .flex-box-eq-2 {
    margin-top: -25px;
    .l-box {
      background-color: #000;
      color: #fff;
      text-align: center;
      @include respond-to(tablet-lg) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 50vh;
      }
      h3 {
        font-family: "Northbourne Village Inline 2";
      }
      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .text {
          text-align: center;
          position: relative;
          left: auto;
          top: auto;
          bottom: auto;
          margin-top: 50px;
        }
      }
    }
    .r-box {
      display: flex;
      justify-content: center;
      overflow: hidden;
      img {
        max-width: 50vw;
        @include respond-to(tablet-lg) {
          max-width: 100%;
        }
      }
    }
  }
  .acf-map {
    @include respond-to(tablet-lg) {
      padding-bottom: 100%;
    }
  }
  section.image_content_block .flex-box-eq-2 .l-box .box {
    @include respond-to(tablet-lg) {
      padding: 28px 20px 48px 20px;
    }
  }
}

body.custompage-lifestyle {
  section.complex_content_block .content h2 {
    font-family: "Northbourne Village Inline 2";
  }

  section.text_block {
    max-width: 800px;
    h1,
    h2,
    h3,
    h4 {
      max-width: 750px;
      margin-right: auto;
      margin-left: auto;
    }
    p {
      max-width: 582px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  section.text_block .box h3 {
    font-family: "Northbourne Village Inline 3";
  }
  section.text_block .box h2 {
    font-family: "Northbourne Village Inline 2";
    font-size: 40px;
    margin-bottom: 50px;
  }
  section.text_block .box h1 {
    font-family: "Northbourne Village Inline 1";
    font-size: 40px;
    margin-bottom: 50px;
  }
}
