body.release-stage-1 {
  h4 {
    font-family: source-serif-pro, serif;
    color: $site-dk-blue;
  }
  p {
    font-family: source-serif-pro, serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
  }
  section.hero_block {
    &.stage-1 {
      &:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: $site-dk-blue;
        opacity: 0.95;
        left: 0;
        top: 0;
        @include respond-to(mobile-lg) {
          width: 100%;
          height: 100%;
          top: auto;
          bottom: 0;
        }
        @include respond-to(tablet-lg) {
          width: 55%;
        }
      }
    }
  }
  section.anchor-menu {
    a {
      color: $site-dk-blue;
    }
  }
  section.introduction_block {
    background-color: #fff;
    .l-box {
      font-family: source-serif-pro, serif;
      font-weight: 300;
    }
    .r-box {
      color: $site-dk-blue;
      font-family: neue-haas-grotesk-text, sans-serif;
    }
  }
  section.text_block h6,
  section.floorplan_block .item-box .item-content .details > div,
  section.video_block .post-image .btn {
    color: $site-dk-blue;
  }
  section.complex_content_block .image-box .post-image:after {
    background-color: $site-dk-blue;
  }
}
body.release-stage-2 {
  h4 {
    font-family: source-serif-pro, serif;
    color: $site-orange;
  }
  p {
    font-family: source-serif-pro, serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
  }
  section.hero_block {
    &.stage-2 {
      &:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        background-color: $site-orange;
        opacity: 0.95;
        left: 0;
        top: 0;
        @include respond-to(mobile-lg) {
          width: 100%;
          height: 100%;
          top: auto;
          bottom: 0;
        }
        @include respond-to(tablet-lg) {
          width: 55%;
        }
      }
    }
  }
  section.introduction_block .r-box p,
  section.complex_content_block .content h4 {
    font-family: neue-haas-grotesk-text, sans-serif;
  }
  section.image_content_block .flex-box-eq-2 .l-box .box .title h3 {
    font-family: neue-haas-grotesk-text, sans-serif;
    text-transform: capitalize;
  }
  section.image_content_block.image-text {
    .flex-box-eq-2 .l-box {
      background: $site-yellow;
      .box {
        color: #000;
        .header {
          font-family: source-serif-pro, serif;
          font-weight: 300;
          font-size: 18px;
        }
        .title {
          h3 {
            color: $site-orange;
          }
        }
      }
    }
  }
  section.anchor-menu {
    a {
      color: $site-orange;
    }
  }
  section.introduction_block {
    background-color: $site-yellow;
    .l-box {
      font-family: source-serif-pro, serif;
      font-weight: 300;
    }
    .r-box {
      color: $site-orange;
      font-family: neue-haas-grotesk-text, sans-serif;
    }
  }
  section.complex_content_block .image-box .post-image:after {
    background-color: $site-orange;
  }
  section.text_block h6,
  section.content_slider_block.content_slider_block_b
    .nav
    .carousel-nav
    .swiper-pagination
    li.swiper-pagination-bullet {
    color: #000;
  }
  section.content_slider_block_b .item-box .r-box {
    background: $site-yellow;
  }
  section.content_slider_block_b .item-box .r-box .item h6 {
    font-family: source-serif-pro, serif;
    font-size: 18px;
    font-weight: 300;
  }
}
body.release-stage-3 {
  h4 {
    text-transform: uppercase;
    font-family: "Northbourne Village Inline 1";
    font-weight: normal;
    color: $site-dk-blue;
  }
  p {
    font-family: source-serif-pro, serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
  }
  section.introduction_block .r-box p {
    text-transform: uppercase;
    font-family: "Northbourne Village Inline 1";
  }
  section.hero_block {
    &.stage-3 {
      &.no-image:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $site-green;
        opacity: 0.95;
        left: 0;
        top: 0;
      }
    }
  }
  section.anchor-menu {
    a {
      color: $site-green;
    }
  }
  section.introduction_block {
    background-color: #fff;
    .l-box {
      font-family: source-serif-pro, serif;
      font-weight: 300;
    }
    .r-box {
      color: $site-dk-blue;
      font-family: neue-haas-grotesk-text, sans-serif;
    }
  }
  section.text_block h6,
  section.floorplan_block .item-box .item-content .details > div,
  section.video_block .post-image .btn {
    color: $site-green;
  }
  section.complex_content_block .image-box .post-image:after {
    background-color: $site-green;
  }
  section.text_block {
    h5 {
      font-size: 18px;
      font-family: source-serif-pro, serif;
      font-weight: 300;
      margin-bottom: 50px;
    }
  }
  section.gallery_block + section.bg-white {
    margin-top: -120px !important;
    @include respond-to(mobile-lg) {
      margin-top: 0;
    }
  }
}
body.single-project,
body.custompage-lifestyle {
  #masterhead .navigation {
    .logo a span {
      background-image: url(../artwork/logo-w.svg);
    }
    .button {
      a {
        color: #fff;
      }
      .menu {
        color: #000;
        &:before {
          background: #fff;
        }
      }
    }
  }
  section.text_block {
    text-align: center;
  }
  section.gallery_block {
    margin-bottom: 120px;
    @include respond-to(mobile-lg) {
      margin-bottom: 48px;
    }
  }
  section.hero_block .outter .intro p {
    max-width: 50%;
  }
}
body.single-project {
  &.scrolled-fold {
    .anchor-menu {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 1000;
      background-color: #fff;
    }
  }
  #masterhead {
    position: absolute;
  }
  .hero_block {
    margin-bottom: -25px;
  }
  section.introduction_block .r-box p {
    letter-spacing: 0;
  }
}
