#masterfoot {
  .footer-top {
    padding-top: 110px;
    padding-bottom: 70px;
    @include respond-to("mobile-lg") {
      padding-top: 18px;
      padding-bottom: 30px;
    }
    .flex-box-4 {
      align-items: center;
    }
  }
  .box {
    @include respond-to(tablet-lg) {
      margin-top: 30px;
    }
    &:first-child {
      @include respond-to(tablet-lg) {
        margin-top: 0px;
      }
    }
  }
  .r-box {
    @include respond-to(tablet-lg) {
      margin-top: 30px;
      text-align: center;
    }
  }
  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @include respond-to(mobile-lg) {
      padding-top: 40px;
    }
    & > div {
      max-width: 405px;
      @include respond-to(tablet-lg) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  a {
    display: inline-block;
    text-decoration: none;
    &.facebook {
      margin-right: 47px;
      @include respond-to("tablet-lg") {
        margin-right: 0;
        margin-bottom: 42px;
      }
    }
  }
  h5 {
    color: #fff;
    margin-bottom: 15px;
  }
  p {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
    br {
      line-height: 0;
    }
    a {
    }
  }
  .flex-box-4 {
    & > div {
      @include respond-to("tablet-lg") {
        margin-bottom: 20px;
      }
    }
    & > div:last-child {
      @include respond-to("tablet-lg") {
        margin-bottom: 0;
      }
    }
  }
  .flex-box-4.box-1 {
    margin-bottom: 35px;
    @include respond-to("tablet-lg") {
      margin-bottom: 0;
    }
  }
  .footer-bottom {
    padding: 35px 0;
    ul {
      display: flex;
      @include respond-to("mobile-lg") {
        flex-wrap: wrap;
        justify-content: space-around;
      }
      li {
        margin-right: 30px;
        &.home {
          display: none;
        }
        @include respond-to("tablet-lg") {
          margin-right: 0;
          width: 45%;
        }
      }
    }
    .swell {
      @include respond-to("tablet-lg") {
        text-align: center;
        margin-top: 20px;
      }
      a {
        color: $site-grey;
      }
    }
  }
}

.mview {
  display: none;
  @include respond-to(mobile-lg) {
    display: block;
  }
}
