body:not(.single-project).scrolled #masterhead {
  // transform: translateY(-90px);
  // @include respond-to(tablet-lg) {
  //   transform: translateY(-30px);
  // }
  margin-top: 0;
  //background: #fff;
  .navigation {
    .logo a span {
      background-image: url(../artwork/logo.svg) !important;
    }
    .button {
      a {
        color: #000 !important;
      }
      .menu {
        color: #fff !important;
        &:before {
          background: #000 !important;
        }
      }
    }
  }
}
body.home.scrolled-fold,
body:not(.home):not(.single-project).scrolling-up,
body:not(.home):not(.single-project).scrolling-down {
  #masterhead {
    transform: translateY(-90px);
    @include respond-to(tablet-lg) {
      transform: translateY(-30px);
    }
    background: #fff;
    .navigation ul li.home a {
      //transform: scale(0.5);
    }
    .navigation ul li:not(.home) a {
      color: #000 !important;
    }
    .navigation ul li:not(.home) a:after {
      //border-bottom: 3px solid #000 !important;
    }
    .navigation ul li.home a {
      background-image: url(../artwork/logo-b.svg) !important;
      // &:hover {
      //   transform: scale(1.1) !important;
      // }
    }
  }
}
body.home #masterhead {
  .navigation ul li:not(.home) a {
    color: #000 !important;
  }
  .navigation ul li:not(.home) a:after {
    //border-bottom: 3px solid #fff !important;
  }
  .navigation ul li.home a {
    background-image: url(../artwork/logo-b.svg) !important;
  }
  // mobile
  .navigation.mobile {
    a {
      color: #fff;
    }
    div.menu .icon {
      background-image: url(../artwork/icon-menu.svg);
    }
    div.home .logo {
      background-image: url(../artwork/logo-b.svg);
    }
  }
}
#masterhead {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 90px;
  left: 0;
  right: 0;
  padding: 10px 0;
  transition: transform 0.3s ease;
  background: transparent;
  @include respond-to(tablet-lg) {
    top: 30px;
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      display: block;
    }
    .logo a span {
      width: 170px;
      height: 41.67px;
      display: block;
      background-image: url(../artwork/logo.svg);
      background-size: cover;
      background-repeat: no-repeat;
      @include respond-to(mobile-lg) {
        width: 120px;
        height: 35px;
      }
    }
  }
}

.button {
  display: flex;
  align-items: center;
  a {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .btn-bg {
    margin-left: 40px;
    position: relative;
    width: 67px;
    height: 67px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #fff;
    @include respond-to(mobile-lg) {
      margin-left: 20px;
      width: 55px;
      height: 55px;
    }
    &.close {
      @include respond-to(tablet-lg) {
        position: absolute;
        top: 20px;
        right: 0px;
      }
    }
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      transform: scale(1);
      transition: all 0.3s ease-in-out;
      border-radius: 50%;
    }
    span {
      position: relative;
    }
    &:hover {
      opacity: 1;
      &:before {
        transform: scale(1.15);
      }
    }
  }
}

.menu-wrap {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-self: center;
  top: 0;
  left: 0;
  transform: translateX(100%);
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(615 / 1400 * 100%);
    background-color: $site-grey;
    z-index: 0;
    @include respond-to(tablet-lg) {
      width: 100%;
      background: #fff;
    }
  }
  .outter {
    position: relative;
    z-index: 1;
  }
}
.menu-wrap {
  .outter {
    padding: 108px 0 87px 0;
    @include respond-to(tablet-lg) {
      padding: 48px 0;
    }
    .flex-box-2 {
      width: 100%;
      height: 100%;
      .l-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        @include respond-to(tablet-lg) {
          order: 2;
          padding-bottom: 48px;
        }
        .box {
          border-left: 1px solid #000;
          padding-left: 27px;
          @include respond-to(tablet-lg) {
            border: 0;
            padding-left: 0;
          }
          &.bottom-box {
            @include respond-to(tablet-lg) {
              margin-top: 80px;
            }
          }
          .spot {
            margin-top: 90px;
            @include respond-to(tablet-lg) {
              margin-top: 40px;
            }
            a {
              display: block;
              font-size: 50px;
              font-family: "Northbourne Village Inline 2";
              margin-bottom: 27px;
              @include respond-to(tablet-lg) {
                margin-bottom: 15px;
              }
              img {
                &.stage-1 {
                  @include respond-to(tablet-lg) {
                    max-width: 50%;
                  }
                }
                @include respond-to(tablet-lg) {
                  max-width: 80%;
                }
              }
            }
          }
        }
      }
      .r-box {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        @include respond-to(tablet-lg) {
          order: 1;
          text-align: left;
          align-items: flex-start;
          padding-left: 10px;
          border-bottom: 1px solid $site-grey;
          padding-bottom: 28px;
          margin-bottom: 48px;
        }
        .button {
          justify-content: flex-end;
        }

        ul {
          li {
            &.home {
              font-family: "Northbourne Village";
              font-weight: bold;
            }
            &.feature {
              font-family: "Northbourne Village Inline 2";
            }
            &.lifestyle {
              font-family: "Northbourne Village Inline 3";
            }
            &.location {
              font-family: "Northbourne Village Inline 1";
            }
            &.team {
              font-family: "Northbourne Village Inline 2";
            }
            &.contact {
              font-family: "Northbourne Village Inline 3";
            }
            &.releases {
              display: none;
            }
            a {
              font-size: 71px;
              text-transform: uppercase;
              line-height: 1.3;
              @include respond-to(tablet-lg) {
                font-size: 40px;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
}

body.menu-show {
  .page-loading {
    @include respond-to(tablet-lg) {
      position: fixed;
    }
  }
  .menu-wrap {
    @include respond-to(tablet-lg) {
      position: relative;
    }
  }
  #masterhead {
    background: transparent !important;
  }
}
