* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: inherit;
  &:hover {
    opacity: 0.6;
  }
}

html {
}

body {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 16px;
  overflow-x: hidden;
}
h1,
h2 {
  font-family: "Northbourne Village";
  font-weight: 400;
  color: #000;
  font-size: 48px;
  line-height: 1.2;
  @include respond-to(tablet-lg) {
    font-size: 54px;
    line-height: 60px;
  }
  @include respond-to(mobile-lg) {
    font-size: 36px;
    line-height: 42px;
  }
}
h3 {
  font-size: 40px;
  font-family: "Northbourne Village";
  font-weight: normal;
  @include respond-to(mobile-lg) {
    font-size: 30px;
    line-height: 1.2;
  }
}
h4 {
  font-size: 40px;
  font-family: "Northbourne Village Inline 1";
  font-weight: normal;
  @include respond-to(mobile-lg) {
    font-size: 30px;
    line-height: 1.2;
  }
}
h5 {
  font-family: "Northbourne Village";
  font-size: 13px;
  letter-spacing: 1px;
}
h6 {
  font-size: 18px;
  font-family: source-serif-pro, serif;
}
.project-box h3 {
  font-family: warnock-pro-display, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 54px;
  color: #000;
  line-height: 60px;
  @include respond-to(tablet-lg) {
    font-size: 54px;
    line-height: 60px;
  }
  @include respond-to(mobile-lg) {
    font-size: 54px;
    line-height: 60px;
  }
}
.font-nv {
  font-family: "Northbourne Village Inline 1";
}
.font-nv-bold {
  font-family: "Northbourne Village";
}
.font-ssp {
  font-family: source-serif-pro, serif;
  font-weight: 300;
}
p {
  line-height: 1.5;
  margin-bottom: 20px;
  a {
    text-decoration: underline;
  }
  strong {
    font-weight: 600;
  }
}
.link a,
a.link {
  font-size: 13px;
  padding-bottom: 9px;
  border-bottom: 5px solid #000;
  font-family: "Northbourne Village";
  display: inline-block;
  letter-spacing: 1px;
}
a {
  color: #000;
}

.svg-ani,
.svg-ani-static {
  width: 30vw;
  height: 70vh;
  position: relative;
  overflow: hidden;
  min-width: 500px;
  min-height: 500px;
  @include respond-to(laptop) {
    height: 60vh;
  }
  @include respond-to(tablet-lg) {
    height: 50vh;
  }
  @include respond-to(mobile-lg) {
    width: 80vw;
    height: 60vh;
    min-width: auto;
    min-height: auto;
  }
  &:hover {
    cursor: pointer;
  }
  #lottie {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
ul {
  list-style: none;
  li {
    line-height: 1.5;
  }
}
.border {
  border: 25px solid #fff;
  @include respond-to(mobile-lg) {
    border: 12px solid #fff;
  }
}
.border-l-r {
  border-left: 25px solid #fff;
  border-right: 25px solid #fff;
  @include respond-to(mobile-lg) {
    border-left: 12px solid #fff;
    border-right: 12px solid #fff;
  }
}
.excerpt {
  color: $site-grey;
  font-size: 15px;
}
.color-md-grey {
  color: $site-md-grey;
}
.desktop {
  @include respond-to(mobile-lg) {
    display: none;
  }
}
.mobile {
  display: none !important;
  @include respond-to(mobile-lg) {
    display: flex !important;
  }
}
.outter {
  max-width: calc(100% - 200px);
  width: 100%;
  margin: 0 auto;
  @include respond-to(laptop) {
    max-width: calc(100% - 200px);
  }
  @include respond-to(tablet-lg) {
    max-width: calc(100% - 150px);
  }
  @include respond-to(mobile-lg) {
    max-width: calc(100% - 80px);
  }
  @include respond-to(mobile-sm) {
    max-width: calc(100% - 50px);
  }
}
.border,
.border-l-r {
  .outter {
    max-width: calc(100% - 150px);
    width: 100%;
    margin: 0 auto;
    @include respond-to(laptop) {
      max-width: calc(100% - 150px);
    }
    @include respond-to(tablet-lg) {
      max-width: calc(100% - 120px);
    }
    @include respond-to(mobile-lg) {
      max-width: calc(100% - 30px);
    }
    @include respond-to(mobile-sm) {
      max-width: 100%;
    }
  }
}
.lg-outter {
  max-width: calc(100% - 324px);
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include respond-to(laptop) {
    max-width: calc(100% - 200px);
  }
  @include respond-to(tablet-lg) {
    max-width: calc(100% - 100px);
  }
  @include respond-to(mobile-lg) {
    max-width: calc(100% - 80px);
  }
  @include respond-to(mobile-sm) {
    max-width: calc(100% - 50px);
  }
}
.md-outter {
  max-width: 926px;
  width: 100%;
  margin: 0 auto;
  @include respond-to(laptop) {
    max-width: calc(100% - 400px);
  }
  @include respond-to(tablet-lg) {
    max-width: calc(100% - 200px);
  }
  @include respond-to(mobile-lg) {
    max-width: calc(100% - 80px);
  }
  @include respond-to(mobile-sm) {
    max-width: calc(100% - 50px);
  }
}
.wrapper {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  @include respond-to(laptop) {
    max-width: calc(100% - 400px);
  }
  @include respond-to(tablet-lg) {
    max-width: calc(100% - 200px);
  }
  @include respond-to(mobile-lg) {
    max-width: calc(100% - 80px);
  }
  @include respond-to(mobile-sm) {
    max-width: calc(100% - 50px);
  }
}

.wrapper-inner {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  @include respond-to(laptop) {
    max-width: calc(100% - 200px);
  }
  @include respond-to(tablet-lg) {
    max-width: calc(100% - 100px);
  }
  @include respond-to(mobile-lg) {
    max-width: calc(100% - 80px);
  }
  @include respond-to(mobile-sm) {
    max-width: calc(100% - 50px);
  }
}

.flex-box-eq-2 {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
  @include respond-to(tablet-lg) {
    flex-direction: column;
  }
  &.no-gap {
    margin: 0;
    & > div {
      width: 50%;
      padding: 0;
      @include respond-to(tablet-lg) {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  & > div {
    width: 50%;
    padding: 0 10px;
    @include respond-to(tablet-lg) {
      width: 100%;
      max-width: 100%;
    }
    &:first-child {
      p:last-child {
        @include respond-to(tablet-lg) {
          margin-bottom: 0;
        }
      }
    }
    &:nth-child(2) {
      @include respond-to(tablet-lg) {
        margin-top: 24px;
      }
    }
  }
  &.no-max-width {
    & > div {
      max-width: initial;
    }
  }
}
.flex-box-2 {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
  @include respond-to(tablet-lg) {
    flex-direction: column;
  }
  & > div:first-child {
    width: calc(309 / 1200 * 100%);
    padding: 0 10px;
    @include respond-to(tablet-lg) {
      width: 100%;
      padding: 0;
      order: 1;
      text-align: center;
      margin-bottom: 24px;
    }
  }
  & > div:last-child {
    width: calc(891 / 1200 * 100%);
    padding: 0 10px;
    @include respond-to(tablet-lg) {
      width: 100%;
      padding: 0;
      order: 2;
    }
  }
}
.flex-box-right-2 {
  display: flex;
  margin: 0 -10px;
  justify-content: space-between;
  @include respond-to(tablet-lg) {
    flex-direction: column;
  }
  & > div:first-child {
    width: calc(860 / 1200 * 100%);
    padding: 0 10px;
    @include respond-to(tablet-lg) {
      width: 100%;
      padding: 0;
      order: 1;
      text-align: center;
    }
  }
  & > div:last-child {
    width: calc(340 / 1200 * 100%);
    padding: 0 10px;
    @include respond-to(tablet-lg) {
      width: 100%;
      padding: 0;
      order: 2;
      margin-bottom: 24px;
    }
  }
}
.flex-box-4 {
  display: flex;
  margin: 0 -10px;
  @include respond-to(mobile-lg) {
    flex-direction: column;
  }
  & > div {
    width: 25%;
    padding: 0 10px;
    @include respond-to(mobile-lg) {
      width: 100%;
    }
  }
}

.post-image {
  width: 100%;
  text-align: center;
  height: 0;
  padding-bottom: calc(700 / 1200 * 100%);
  position: relative;
  margin: 0;
  overflow: hidden;
  &.square {
    padding-bottom: 100%;
    @include respond-to(mobile-lg) {
      padding-bottom: calc(934 / 1400 * 100%);
    }
  }
  .bg-load {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    z-index: 2;
    transition: all 0.2s ease-in-out;
  }
  a:hover .bg-load {
    transform: scale(1.1);
  }
}

.link-box {
  position: relative;
  display: flex;
  justify-content: center;
  &.align-left {
    justify-content: flex-start;
    @include respond-to(tablet-lg) {
      justify-content: center;
    }
  }
  a.link {
    position: relative;
    transition: all 0.3s ease-in-out;
    color: $site-grey;
    padding-bottom: 10px;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 3px solid #000;
      opacity: 0;
      transform: translateY(5px);
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      opacity: 1;
      color: #000;
      transform: translateY(-5px);
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.btn {
  font-size: 13px;
  padding-bottom: 9px;
  border-bottom: 5px solid #000;
}

.ani {
}

.ani-fade-in {
  opacity: 0;
  transition: opacity 1s;
}

.ani-fade-in.ani-go {
  opacity: 1;
}

.click-fade {
  opacity: 1;
  transition: opacity 1s linear;
}

.click-fade.active {
  opacity: 0;
}

.ani-slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1s, opacity 1s;
}

.ani-slide-down.ani-go {
  opacity: 1;
  transform: none;
}

.ani-slide-down {
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 1s, opacity 1s;
}

.ani-slide-up.ani-go {
  opacity: 1;
  transform: none;
}

.ani-slide-left {
  opacity: 0;
  transform: translateX(-80px);
  transition: transform 2s, opacity 2s;
}

.ani-slide-left.ani-go {
  opacity: 1;
  transform: none;
}

.ani-blur-in {
  filter: blur(5px);
  transition: filter 1s;
}

.ani-blur-in.ani-go {
  filter: blur(0px);
}

.ani-blur-fade-in {
  opacity: 0;
  filter: blur(5px);
  transition: opacity 1s, filter 1s;
}

.ani-blur-fade-in.ani-go {
  opacity: 1;
  filter: none;
}

.ani-pop-in {
  opacity: 0;
  transform: scale(0.75);
  transition: transform 1s, opacity 1s;
}

.ani-pop-in.ani-go {
  opacity: 1;
  transform: none;
}

.ani-go {
  transition-delay: 500ms;
}

.ani-blocks section {
  opacity: 0;
  transition: opacity 1s;
}

.ani-blocks section.ani-block-go {
  opacity: 1;
}

.ani-slide-alt:nth-child(odd) {
  opacity: 0;
  transform: translateX(-50px);
  transition: transform 1s, opacity 1s;
}

.ani-slide-alt:nth-child(even) {
  opacity: 0;
  transform: translateX(50px);
  transition: transform 1s, opacity 1s;
}

.ani-slide-alt.ani-go {
  opacity: 1;
  transform: none;
}
.flex-box-column {
  display: flex;
  flex-direction: column;
}
.flex-box-row {
  display: flex;
  flex-direction: row;
  @include respond-to("tablet-lg") {
    flex-direction: column;
  }
}

.animate-up-down {
  animation-duration: 2s;
  -ms-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-name: up-and-down;
  -ms-animation-name: up-and-down;
  -moz-animation-name: up-and-down;
  animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: alternate;
  -ms-animation-direction: alternate;
  -moz-animation-direction: alternate;
  //--xposition:108.548px;
  animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@keyframes up-and-down {
  from {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    //transform: translate(--xposition,0);
  }
  to {
    transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    //transform: translate(--xposition,10px);
  }
}

@-moz-keyframes up-and-down {
  from {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    //transform: translate(--xposition,0);
  }
  to {
    transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    //transform: translate(--xposition,10px);
  }
}

@-webkit-keyframes up-and-down {
  from {
    transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    //transform: translate(--xposition,0);
  }
  to {
    transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    //transform: translate(--xposition,10px);
  }
}

.animate-down-up {
  animation-duration: 2s;
  animation-name: down-and-up;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  //--xposition:108.548px;
  animation-timing-function: linear;
}
@keyframes down-and-up {
  from {
    transform: translateY(-20px);
    //transform: translate(--xposition,0);
  }

  to {
    transform: translateY(0);
    //transform: translate(--xposition,10px);
  }
}

.animate-left-right {
  animation-duration: 2s;
  animation-name: left-and-right;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes left-and-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}

.animate-back-forth {
  animation-duration: 2s;
  animation-name: back-and-forth;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  //--xposition:108.548px;
  animation-timing-function: linear;
}
@keyframes back-and-forth {
  from {
    transform: translate3d(0, 0, 0);
    //transform: translate(--xposition,0);
  }

  to {
    transform: translate3d(10px, 10px, 0);
    //transform: translate(--xposition,10px);
  }
}

.animate-fade {
  animation-duration: 1.5s;
  animation-name: fade-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  //--xposition:108.548px;
  animation-timing-function: linear;
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-shut {
  animation-duration: 1s;
  animation-name: shut-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  //--xposition:108.548px;
  animation-timing-function: linear;
}
@keyframes shut-in {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.animate-delay-1 {
  animation-delay: 1s !important;
}

.animate-delay-2 {
  animation-delay: 2s !important;
}

.animate-delay-3 {
  animation-delay: 3s !important;
}
.animate-rotate-2d-360 {
  animation-duration: 3s;
  animation-name: rotate-2d-360;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 25% 25%;
}
@keyframes rotate-2d-360 {
  to {
    transform: rotate(360deg);
  }
}

.ani-word-wrap {
  position: relative;
  text-indent: 0;
  span {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 0.4em;
    margin-bottom: -0.5em;
    margin-right: 0.1em;
    text-indent: 0;
    & > span {
      display: block;
      -webkit-transform: translateY(102%);
      -ms-transform: translateY(102%);
      transform: translateY(102%);
      transition: transform 1s, opacity 1s;
      &.ani-go {
        transform: translateY(0);
      }
    }
  }
}

.videobg {
  width: 100%;
  text-align: center;
  height: 0;
  padding-bottom: calc(852 / 1514 * 100%);
  position: relative;
  margin: 0;
  overflow: hidden;

  &.no-control {
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 11;
    }
  }
  iframe {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    left: -0.5%;
    top: -0.5%;
    width: 101%;
    height: 101%;
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
}

body {
  &.popup {
    overflow: hidden;
    .popup-bg .popup-window .popup-inner {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .popup-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background: rgba(0, 0, 0, 0.75);
    z-index: 9999;
    @include respond-to(mobile-lg) {
      z-index: 9999;
    }
    &.popup {
      display: block;
    }
    .popup-window {
      max-width: 1180px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      //box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
      border-radius: 0px;
      @include respond-to(mobile-lg) {
        width: 100%;
        height: 100%;
        overflow: auto;
      }
      // .popup-inner {
      //   @include respond-to(mobile-lg) {
      //     margin-top: 40%;
      //   }
      //   line-height: 0;
      //   transform: translateY(-60px);
      //   transition-delay: 3s;
      //   opacity: 0;
      //   transition: all 0.5s linear;
      // }
      .popup-inner {
        opacity: 0;
        &.active {
          opacity: 1;
        }
      }
    }
    .popup-close {
      position: absolute;
      top: 30px;
      right: 30px;
      text-decoration: none;
      z-index: 99;
      @include respond-to(mobile-lg) {
        top: 20px;
        right: 20px;
      }
    }
  }
}
