@import "swiper";

/* VARS */

$site-lt-grey: #dfdfe1;
$site-md-grey: #b2b2b2;
$site-dk-grey: #696d74;
$site-dk-blue: #072b31;
$site-black: #000000;
$site-grey: #d2ccc8;
$site-green: #008e5c;
$site-yellow: #fffcee;
$site-orange: #f8965a;
$site-lt-grey2: #f7f7f8;

@font-face {
  font-family: "Manier-Regular";
  src: url("../fonts/manier-regular.eot");
  src: url("../fonts/manier-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/manier-regular.woff2") format("woff2"),
    url("../fonts/manier-regular.woff") format("woff"),
    url("../fonts/manier-regular.ttf") format("truetype"),
    url("../fonts/manier-regular.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manier-Bold";
  src: url("../fonts/manier-bold.eot");
  src: url("../fonts/manier-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/manier-bold.woff2") format("woff2"),
    url("../fonts/manier-bold.woff") format("woff"),
    url("../fonts/manier-bold.ttf") format("truetype"),
    url("../fonts/manier-bold.svg#youworkforthem") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Northbourne Village";
  src: url("../fonts/NorthbourneVillageBold.eot");
  src: url("../fonts/NorthbourneVillageBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NorthbourneVillageBold.woff2") format("woff2"),
    url("../fonts/NorthbourneVillageBold.woff") format("woff"),
    url("../fonts/NorthbourneVillageBold.ttf") format("truetype"),
    url("../fonts/NorthbourneVillageBold.svg#NorthbourneVillageBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Northbourne Village Inline 1";
  src: url("../fonts/NorthbourneVillageInline1.eot");
  src: url("../fonts/NorthbourneVillageInline1.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NorthbourneVillageInline1.woff2") format("woff2"),
    url("../fonts/NorthbourneVillageInline1.woff") format("woff"),
    url("../fonts/NorthbourneVillageInline1.ttf") format("truetype"),
    url("../fonts/NorthbourneVillageInline1.svg#NorthbourneVillageInline1")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Northbourne Village Inline 2";
  src: url("../fonts/NorthbourneVillageInline2.eot");
  src: url("../fonts/NorthbourneVillageInline2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NorthbourneVillageInline2.woff2") format("woff2"),
    url("../fonts/NorthbourneVillageInline2.woff") format("woff"),
    url("../fonts/NorthbourneVillageInline2.ttf") format("truetype"),
    url("../fonts/NorthbourneVillageInline2.svg#NorthbourneVillageInline2")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Northbourne Village Inline 3";
  src: url("../fonts/NorthbourneVillageInline3.eot");
  src: url("../fonts/NorthbourneVillageInline3.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NorthbourneVillageInline3.woff2") format("woff2"),
    url("../fonts/NorthbourneVillageInline3.woff") format("woff"),
    url("../fonts/NorthbourneVillageInline3.ttf") format("truetype"),
    url("../fonts/NorthbourneVillageInline3.svg#NorthbourneVillageInline3")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=2.0.0");
  src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),
    url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"),
    url("../fonts/ionicons.woff?v=2.0.0") format("woff"),
    url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

$base: 15;
$px: $base * 1px;
$rem: $base * 1rem;

@function rem($size) {
  $remSize: $size / $base;
  @return #{$remSize}rem;
}

@mixin respond-to($media) {
  @if $media == 2k {
    @media screen and (max-width: 2500px) {
      @content;
    }
  } @else if $media == hd {
    @media screen and (max-width: 1920px) {
      @content;
    }
  } @else if $media == laptop {
    @media screen and (max-width: 1700px) {
      @content;
    }
  } @else if $media == tablet-lg {
    @media screen and (max-width: 1279px) {
      @content;
    }
  } @else if $media == tablet-sm {
    @media screen and (max-width: 1023px) {
      @content;
    }
  } @else if $media == mobile-lg {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $media == mobile-sm {
    @media screen and (max-width: 450px) {
      @content;
    }
  }
}

/* IMPORT */

@import "site";
@import "block";
@import "post";
@import "page";
@import "site-header";
@import "site-footer";
